<div class="content centered lander-bg">
	<h1>Find soccer subs for Bay Area matches</h1>
	<div class="content-padded lander">
		<h2>400 invitations still available</h2>
		<p>Sign up for early access</p>
		<%= render "users/new" %>
	</div>
</div>


