<header class="bar-title">
	<h1 class="title">
		<span style="display: none;">Footy Subs</span>
		<img src="/assets/footy-subs.png" style="margin-top: 7px;" width="97px" height="35px">
	</h1>
</header>

<div class="content centered lander-bg">
	<div class="content-padded lander">
		<img src="/assets/apple-touch-icon-114x114.png" height="72px" width="72px" class="footysubs-icon">
		<h2 style="color:rgb(58,58,58);font-size:36px;margin-top:20px;">Find soccer subs</h2>
		<p style="color:rgb(58,58,58);font-size:16px;margin-bottom:20px;">Easily find last-minute players for recreational soccer league matches in the Bay Area.
		<h3 style="color:rgb(58,58,58);padding-bottom:10px;"><%= 150-User.count %> invites available</h3>
		<%= render "users/new" %>
	</div>
</div>


