<header class="bar-title">
	<h1 class="title">
		<span style="display: none;">Footy Subs</span>
		<img src="/assets/footy-subs.png" style="margin-top: 7px;" width="97px" height="35px">
	</h1>
</header>

<div class="content centered lander-bg">
	<div class="content-padded signup-success">
		<h2 style="color:rgb(58,58,58);font-size:36px;margin-top:20px;">Thanks!</h2>
		<p style="color:rgb(58,58,58);font-size:16px;margin-bottom:20px;">FootySubs will be available soon. Please <a href="mailto:mccoy.stewart@gmail.com">email</a> if you've questions!
		<h3 style="color:rgb(58,58,58);padding-bottom:10px;"><%= 150-User.count %> invites available&mdash;tell your friends:</h3>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.footysubs.com/signup" data-text="Sign up for @footysubs to easily find subs for Bay Area soccer matches!" data-size="large" data-count="none">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</div>
