<header class="bar-title">
	<%= link_to "Cancel", events_path, class: "button" %>
	<h1 class="title">Sign up</h1>
</header>

<div class="content">
	<div class="content-padded">
		<%= render "new" %>
	</div>
</div>
