%header.bar-title
  - if current_user
    = link_to "Sign out", destroy_user_session_path, method: "delete", class: "button", :style => "padding-top: 6px;"
  /   - if request.path == events_path
  /     = link_to image_tag("/assets/icon-settings.png", :height => "25px"), "/users/#{current_user.id}/edit", class: "button", :style => "padding-bottom: 0;"
  /     %h1.title
  /       %span{style: "display: none;"} Footy Subs
  /       %img{height: "35px", src: "/assets/footy-subs.png", style: "margin-top: 7px;", width: "97px"}
  /     = link_to image_tag("/assets/icon-post.png", :height => "22px", :style => "padding-top: 2px;"), new_event_path, class: "button", :style => "padding-bottom: 0;"
  /   - elsif request.path == edit_user_path(current_user)
  /     = link_to image_tag("/assets/icon-close.png", :height => "20px"), events_path, class: "button", :style => "padding-top: 6px;"
  /     %h1.title Edit Profile
  /     = link_to "Sign out", destroy_user_session_path, method: "delete", class: "button", :style => "padding-top: 6px;"
  /   - elsif request.path == new_event_path
  /     = link_to image_tag("/assets/icon-close.png", :height => "20px"), events_path, class: "button", :style => "padding-top: 6px;"
  /     %h1.title Post match
  / - else
  /   %h1.title
  /     %span{style: "display: none;"} Footy Subs
  /     %img{height: "35px", src: "/assets/footy-subs.png", style: "margin-top: 7px;", width: "97px"}
